<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="/saveEmployee" method="POST">
        <label>Full Name</label>
        <input type="text" name="form_full_name" class="form-control">
        <label>KRA Pin</label>
        <input type="text" name="form_kra_pin_number" class="form-control">
        <label>Department</label>
        <input type="text" name="form_department" class="form-control">
        <label>Position</label>
        <input type="text" name="form_position" class="form-control">
        <label>Basic Salary</label>
        <input type="number" name="form_basic_salary" class="form-control">
         <label>House Allowance</label>
        <input type="number" name="form_house_allowancce" class="form-control">

        <button type="submit">Add employee</button>
    </form>

</body>
</html>